<div class="container-fluid">
    <div class="row">
        <div style="min-height: 100vh;" class="col-lg-2 bg-success">
            <app-admin-sidebar/>
        </div>
        <div class="col">
            <h1 class="my-5">All Feedbacks</h1>
            <table class="table my-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>E Mail</th>
                        <th>Feedback</th>
                        <th>Action / Status </th>
                    </tr>
                </thead>
                <tbody>
                   @for (feedback of feedbackList; track $index;let i=$index) {
                     <tr>
                        <td>{{i+1}}</td>
                        <td>{{feedback.name}}</td>
                        <td>{{feedback.email}}</td>
                        <td>{{feedback.message}}</td>
                        <td >
                            @if (feedback.status=="pending") {
                                <div class="d-flex">
                                <button (click)="editStatus(feedback._id,'approve')" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                                <button (click)="editStatus(feedback._id,'reject')" class="btn btn-danger ms-5"><i class="fa-solid fa-x"></i></button>
                            </div>
                            }@else if(feedback.status=="approve"){
                                <button class="btn btn-success">APPROVE</button>
                            }@else {
                                <button class="btn btn-danger ">REJECT</button>
                            }
                            
                        </td>
                    </tr>
                   }
                </tbody>
            </table>
        </div>
    </div>
</div>